
<div class="jumbotron">
  <div class="container-fluid">
   <h1>Log In</h1>
   <%= form_tag sessions_path do %>
   <%= label_tag "email", nil, :class => "control-label" %><br/>
   <%= text_field_tag "email", nil, :class=> "input-lg", :placeholder=> "email@email.com" %><br/>
   <%= label_tag :password, nil, :class => "control-label" %><br/>
   <%= password_field_tag :password, nil, :class=> "input-lg", :placeholder=> "password" %><br/>
   <%= submit_tag "Log In", class: 'btn-primary btn-lg ' %>
   <% end %>
 </div>
</div>