<%= link_to "Back to full client list", clients_path %>



 <% if current_user %>
          <p><%= @client.name %> (<%= link_to "delete", client_path(@client), method: :delete, confirm: "You sure?" %>) (<%= link_to "edit", edit_client_path(@client) %>)</p>
        <% else %>
          <p><%= @client.name %></p>
        <% end %>

<p><%= @client.email %></p>
<p><%= @client.age %></p>
<p><%= @client.start_date %></p>
<p><%= @client.active %></p>
 

<hr>

<% @client.workouts.each do |workout| %>
<p><%= workout.title %></p>
<p><%= workout.date %></p>
<p><%= workout.description %></p>
<% end %>

<p><%= link_to "Add a workout", new_client_workout_path(@client) %></p>

